body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* overflow: hidden; */
    background-color: #E8E4DD;
}
#libs
{
    position: absolute;
    left: 120px;
    border: 2px solid #E8E4DD;
    padding: 10px;
    border-radius: 40px;
}
#add
{
    position: absolute;
    left: 220px;
    border: 2px solid #E8E4DD;
    padding: 10px;
    border-radius: 40px;
}
.title {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #41624F;
    padding: 10px 20px;
    position: fixed;
    width: calc(100% - 40px);
    height: 5vh;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar .title {
    font-size: 24px;
    font-weight: bold;
}

.navbar .circle {
    width: 10px;
    height: 18px;
    background-color: #fafafa;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 img
{
    width: 99vw;
    height: 100vh;
}

.B_ADD {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-top: 500px;
    padding-bottom: 20%;
}

.B_ADD .b1, .B_ADD .b2
{
    height: 355px;
    width: 306px;
    border-radius: 50px;
    background-color: #E8E4DD;
    border: 2px solid #41624F;
    font-weight: bolder;
    font-size: large;
    color:#41624F;
}

.B_ADD .b3 {
    background-color: #E8E4DD;
    border: 2px solid #41624F;
    font-weight: bolder;
    height: 355px;
    width: 700px;
    border-radius: 10px;
    font-size: large;
    color:#41624F;
}
.b1:hover
{
    background-color: #41624F;
    border: 2px solid #E8E4DD;
    color: #E8E4DD;
}
.b2:hover
{
    background-color: #41624F;
    border: 2px solid #E8E4DD;
    color: #E8E4DD;
}
.b3:hover
{
    background-color: #41624F;
    border: 2px solid #E8E4DD;
    color: #E8E4DD;
}
#myBtn
{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #41624f;
    color: #E8E4DD;
    border-color: #41624f00;
    font-weight: bolder;
    font-size: x-large;
    position: absolute;
    top: 860px;
    right: 190px;
}

/* .wrapper
{
    max-height: 350px;
    border: 2px solid #41624F;
    display: flex;
    overflow-x: 10px;
}
.wrapper .item
{
    min-width: 110px;
    height: 710px;
    line-height: 110px;
    text-align: center;
    background-color: #E8E4DD;
}
 */